<footer>
  <section class="footer-container content">

    <div class="card-footer-networks">
      <img class="footer-logo" src="../../../assets/images/logo.svg" alt="Logo">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua</p>
        <div class="social-networks">
          <img src="../../../assets/images/facebook.svg" alt="Facebook">
          <img src="../../../assets/images/twitter.svg" alt="Twitter">
          <img src="../../../assets/images/instagram.svg" alt="Instagram">
          <img src="../../../assets/images/linkedin.svg" alt="Linkedin">
        </div>
    </div>

    <div class="card-footer-infos">
      <div class="card-footer">
        <h3>CATALOG</h3>
          <ul>
            <li>Necklaces</li>
            <li>Hoodies</li>
            <li>Jewelry Box</li>
            <li>T-shirt</li>
            <li>Jacket</li>
          </ul>
      </div>

      <div class="card-footer">
        <h3>ABOUT US</h3>
          <ul>
            <li>Our Producers</li>
            <li>Sitemap</li>
            <li>FAQ</li>
            <li>About Us</li>
            <li>Terms & Conditions</li>
          </ul>
      </div>

      <div class="card-footer">
        <h3>CUSTOMER SERVICES</h3>
          <ul>
            <li>Contact Us</li>
            <li>Track Your Order</li>
            <li>Product Care & Repair</li>
            <li>Book an Appointment</li>
            <li>Shipping & Returns</li>
          </ul>
      </div>
    </div>

  </section>

  <div class="footer-end">
    <p>© 2024 Coral , Inc.</p>

    <img src="../../../assets/images/icons_payment.png" alt="Cartões de pagamento">

    <button class="btn-scroll" (click)="scrollToTop()">Scroll to Top
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_upward"></mat-icon>
    </button>

  </div>

</footer>
