<header>
  <section>
    <div class="header-left">
      <img class="buscar" src="/assets/images/busca.svg" alt="Busca">
    </div>

    <div class="logo">
      <img src="/assets/images/logo.svg" alt="logo">
    </div>

    <div class="header-rigth">
      <img (click)="account()" class="account" src="/assets/images/account.svg" alt="account">
      <img class="shop" src="/assets/images/shop.svg" alt="shop">
    </div>
  </section>

  <nav>
    <ul>
      <li>Jewelry & Accessories</li>
      <li>Clothing & Shoes</li>
      <li>Home & Living</li>
      <li>Wedding & Party</li>
      <li>Toys & Entertainment </li>
      <li>Art & Collectibles</li>
      <li>Craft Supplies & Tools</li>
    </ul>

  </nav>
</header>
