$gray-100: #f6f6f6;

$white-100: #FFFFFF;

$gray-200: #dae2e0;
$gray-300: #d4d4d4;
$gray-400: #858585;
$gray-600: #4e4e4e;
$gray-800: #151b22;

$orange-600: #069799;


$btn-color: #1E2832;

$green: #069799;
$green-100: #086e70b6;
