<div *ngIf="loading" class="spinner-container">
  <div class="spinner"></div>
</div>
<app-defaul-login
  title="Resgistrar sua conta"
  primaryBtnText="Cadastrar"
  secundaryBtnText="Entrar"
  (submit)="submitLogin()"
  (navigate)="submitRegister()"
  [desablePrimaryBtn]="!signupForm.valid"
>
  <form [formGroup]="signupForm">
    <app-primary-input
      formControlName="name"
      inputName="name"
      type="text"
      label="Seu nome"
      placeholder="Juan Santos"
    >
      <img src="assets/images/email.svg" />
    </app-primary-input>

    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="juan.sam@gmail.com"
    >
      <img src="assets/images/email.svg" />
    </app-primary-input>

    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Senha"
    >
      <img src="assets/images/passwords.svg" />
    </app-primary-input>

    <app-primary-input
      formControlName="passwordConfirm"
      inputName="passwordConfirm"
      type="password"
      label="Confirmar Senha"
    >
      <img src="assets/images/passwords.svg" />
    </app-primary-input>

  </form>
</app-defaul-login>

