<main>
  <section class="forms-sections">
    <img src="/assets/images/logo.svg" alt="logo" />
    <h2>{{ title }}</h2>

    <div class="btn-wrapper">
      <button class="btn-login" (click)="login()">{{ primaryBtnText }}</button>

      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>

      <button class="btn-signup">{{ secundaryBtnText }}</button>
    </div>
  </section>

  <section class="main-sections">
    <img src="/assets/images/nike-background.png" />
  </section>
</main>

<div *ngIf="loading" class="spinner-container">
  <div class="spinner"></div>
</div>
