<main>
  <section class="forms-sections">
    <img src="/assets/images/logo.svg" alt="logo" />
    <h2>{{ title }}</h2>
    <ng-content></ng-content>

    <div class="btn-wrapper">
      <button
        class="btn-login"
        (click)="submit()"
        [disabled]="desablePrimaryBtn"
        >

        {{ primaryBtnText }}
      </button>

      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>

      <button class="btn-signup" (click)="navigate()">{{ secundaryBtnText }}</button>
    </div>
  </section>

  <section class="main-sections">
    <img src="/assets/images/nike-background.png" />
  </section>
</main>


